.editor {
  display: flex;
  gap: 20px;
  height: 500px;
  position: relative;
}
.textArea {
  margin-top: 50px;
  width: 100%;
}
.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.addButton {
  border-color: #1a8917;
}
.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
}

.input {
  padding: 40px;
  font-size: 54px;
  border: none;
  outline: none;
  background-color: transparent;
}
.input::placeholder {
  color: #b3b3b1;
}
.publish {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
